.main{
    background-color:darkslateblue;
    height: 200px;
    

}

.main1{
    background-color:skyblue;
    height:auto;

}
.main2{
    background-color: darkslateblue;
    height:200px;
}
